- if current_user.profile
  %h3 Publish / Deactivate
  - if current_user.profile.published
    %h2 Deactivate Your Portfolio Site
    = link_to 'Deactivate Your Profile', profile_deactivate_path(current_user.profile), class: 'button -destructive', method: 'patch'
  - else
    %h2 Publish Your Portfolio Site
    = link_to 'Publish Your Profile', profile_publish_path(current_user.profile), class: 'button -constructive', method: 'patch'

  - if can_sync?
    %h2 Sync Your Repositories
    = link_to 'Sync Repositories', user_sync_repos_path(current_user), class: 'button -constructive', method: 'patch'

%h3 Profile Info
= f.label :fist_name
= f.text_field :first_name

= f.label :last_name
= f.text_field :last_name

= f.label :email
= f.text_field :email

= f.label :tagline
= f.text_field :tagline

= f.label :position
= f.text_field :position

%h3 Projects
- current_user.repos.each do |repo|
  = f.label repo.name
  = check_box_tag 'repo_ids[]', repo.id, repo.whitelist

= f.submit 'Update Profile', class: 'button -constructive'
