= f.label :fist_name
= f.text_field :first_name

= f.label :last_name
= f.text_field :last_name

= f.label :email
= f.text_field :email

= f.label :tagline
= f.text_field :tagline

= f.label :position
= f.text_field :position

- current_user.repos.each do |repo|
  = f.label repo.name
  = check_box_tag 'repos[]', repo.id

= f.submit
