%h3 Profile Info
= f.label :fist_name
= f.text_field :first_name

= f.label :last_name
= f.text_field :last_name

= f.label :email
= f.text_field :email

= f.label :tagline
= f.text_field :tagline

= f.label :position
= f.text_field :position

%h3 Projects
- current_user.repos.each do |repo|
  = f.label repo.name
  = check_box_tag 'repo_ids[]', repo.id, repo.whitelist

= f.submit 'Update Profile', class: 'button -constructive'
