%section.-container
  .profile
    %h1= view_model[:name]
    %h2= view_model[:tagline]
    %a{href: "https://github.com/#{profile.view_model[:nickname]}", class: 'button -constructive' }
      = render 'svg/github'
      = view_model[:nickname]
    %dl
      %dt Current Position:
      %dd= view_model[:position]
      %dt Email:
      %dd= view_model[:email]
    %section.languages
      %h3 Languages
      %ul
        - view_model[:languages].each do |lang|
          %li
            = render "svg/#{lang[:name]}".downcase
            %h4= lang[:name]
      .clearfix
    %section
      %h3 Projects
      - view_model[:whitelist].each do |repo|
        %a{href: repo.url}
          .project
            %h4= repo.name
            %p= repo.description
            %p= repo.primary_language
      .clearfix
