.profile
  %h1= profile.full_name
  %h2= profile.tagline
  %dl
    %dt Github:
    %dd= profile.nickname
    %dt Current Position:
    %dd= profile.position
    %dt Email:
    %dd= profile.email
  %section.languages
    - top_languages.each do |lang|
      %p= lang[:name]
  %section.projects
    %h3 Projects
    - whitelist.each do |repo|
      .project
        %h4= repo.name
        %p= repo.description
        %p= repo.primary_language
        %a{href: repo.url} code
    .clearfix
