%header
  %nav.navbar
    %ul.left
      %li= link_to 'Home', profile_launch_path
      - if policy(:profile).index?
        %li= link_to 'Profiles', profiles_path
      - if policy(:user).index?
        %li= link_to 'Users', users_path
      - if current_user && current_user.profile?
        %li= link_to 'View Profile', profile_path(current_user.profile)
        %li= link_to 'Edit Profile', edit_profile_path(current_user.profile)
    %ul.right
      - if current_user
        %li= current_user.email
        %li= link_to 'Logout', destroy_user_session_path, method: :delete
      - else
        %li= link_to 'Login', new_user_session_path, method: :get
    .clearfix
