%header
  %nav
    %ul
      %li= link_to 'Home', root_url
      - if policy(:profile).index?
        %li= link_to 'Profiles', profiles_url
      - if policy(:user).index?
        %li= link_to 'Users', users_url
      - if current_user
        - if current_user.needs_profile?
          %li= link_to 'Make Profile', new_profile_url
        - if current_user.profile?
          %li= link_to 'Edit My Profile', edit_profile_url(current_user.profile)
    %ul
      - if current_user
        %li= current_user.email
        %li= current_user.role
        %li= link_to 'Logout', destroy_user_session_path, method: :delete
      - else
        %li= link_to 'Login', new_user_session_path, method: :get
